<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Meteorite Impact Map</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- Marker cluster JavaScript code -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

    <!-- Marker cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Leaflet heatmap plugin-->
    <script type="text/javascript" src="static/js/leaflet-heat.js"></script>

    <!-- Our Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- CSS Imports -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about_us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/works_cited">Works Cited</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1>Meteorite Impact Map</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">    
          <!-- Input Section -->
          <div class="row">
            <div class="col-md-6">
              <label for="min-year" class="col-form-label mt-4">Start Year:</label>
              <input type="number" id="min-year" class="form-control" name="min-year" value="1950" min="0">
            </div>
            <div class="col-md-6">
              <label for="max-year" class="col-form-label mt-4">End Year:</label>
              <input type="number" id="max-year" class="form-control" name="max-year" value="2013" max="2013">
            </div>
          </div>
          <button type="button" id="filter-btn" class="btn btn-primary mt-4">Enter</button>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Map -->
      <div class="col-md-12">
        <div id="map_container"></div>
      </div>
    </div>
    </div>


    <!-- Our JavaScript -->
    <script type="text/javascript" src="/static/js/map.js"></script>

  </body>
</html>
